@import "node_modules/bootstrap/scss/bootstrap";
@import 'react-toastify/dist/ReactToastify.css';
@import "modals";

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;

}

#root, .root {
  height: inherit;
}

header {
  height: 10%;
  width: 100%;
}

main {
  height: 85%;
  width: 100%;
}

footer {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.gap-16px {
  gap: 16px;
}

.w-20 {
  width: 20%;
}

.max-width-200 {
  max-width: 200px;
}

.w-80 {
  width: 80%;
}